<%- include('partials/header') %>
<%- include('partials/nav')%>

<main class="container" >
    <div id="dash-left">
        <div id="user-panel">
            <div id="user"><div id="user-icon"><img src="" alt="" > </div><a href="#">Edit</a></div>
            <p>Welcome #######</p>
        </div>
        <div id="task-zone">

            <div class="task">
                <h2>WATER</h2>
                
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, deleniti.</p>
                    <p class="date">22/10/2020</p>
                </div>
            </div>

            <div class="task">
                <h2>PESTICIDE</h2>
                <div class="strip"></div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <p class="date">9/10/2020</p>
                </div>
            </div>

            <div class="task">
                <h2>HERBICIDE</h2>
                <div class="strip"></div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ea placeat excepturi.</p>
                    <p class="date">22/9/2020</p>
                </div>
            </div>

        </div>
    </div>
    <div id="dash-right">
        <div class="blog-posts">
            <div class="post">
                <img src="../public/uploads/bg2.jpg" alt="" class="post-img">
                <div class="post-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <span class="date">22/4/2022</span>
                </div>
            </div>

            <div class="post">
                <img src="../public/uploads/bg3.jpg" alt="" class="post-img">
                <div class="post-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <span class="date">22/4/2022</span>
                </div>
            </div>

            <div class="post">
                <img src="../public/uploads/bg4.jpg" alt="" class="post-img">
                <div class="post-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <span class="date">22/4/2022</span>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include('partials/brand') %>
<%- include('partials/background') %>
<%- include('partials/footer') %>