<%- include('partials/header') %>

<div class="bg-img" id="signup-form">
    <div class="content">
        <header>Sign Up</header>
        <form action="/signup" method="post">

            <% if(error){ %>
                <p class="error"><%= message %></p>
            <% } %>

            <div class="user-icon">
                <span class="fa fa-user"></span>
                <input type="text" name="fullname" id="" value="<%= user.name %>" placeholder="Full Name" required>
            </div>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email" required>
            <div class="password-icon">
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="" value="<%= user.password %>" placeholder="Password" required minlength="8">
            </div>
            <input type="password" name="confirmPassword" id="confirmPassword" value="<%= user.confirmPassword %>" placeholder="Confirm Password" required minlength="8">
            <div class="pass">
                <a href="/login">Already have an account?Sign In</a>
            </div>
            <div class="field-2">
                <input type="submit" value="SIGNUP">
            </div>
       
        </form>
    </div>
</div>


<%- include('partials/footer') %>